string slice

In [2]:
s="astring"
s[0:2:1]

'as'

In [3]:
s="astring"
print(s[-6:-2])

stri

In [4]:
s="astring"
print(s[6])

g

immutable

In [111]:
s="astring"
a=s.replace("t","h")
s=s.lower()
b=s.upper()
c=s.encode()
d=s[::-1]
print(a)
print(s)
print(d)

ashring
astring
gnirtsa

string reverse

In [112]:
def rev(s):
    d=s[::-1]
    return d
s="hello"
reverse=rev(s)
print(reverse)

olleh

In [119]:
def vow(s):

for i in string: 
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
      
string=input("Enter string:")

print("Number of vowels are:")
print(vowels)

IndentationError: expected an indented block after function definition on line 1 (1277012756.py, line 3)

In [131]:
for i in range(0,11):
    print(i,"x" ,"=",i*i)

0 x = 0
1 x = 1
2 x = 4
3 x = 9
4 x = 16
5 x = 25
6 x = 36
7 x = 49
8 x = 64
9 x = 81
10 x = 100

In [6]:
l=[1,2.5,"d","hi"]
d=l[-2].upper()
print(d)

D

In [64]:
def add(a,b):
    c=a+b
    return c
i=int(input("enter1 :"))
u=int(input("enter2 :"))
result=add(i,u)
print("the result is",result)
print("the sum {}+{}={}".format(i,u,result))

the result is 24
the sum 56+78=24

In [21]:
print('''hello
       world''')

hello
       world

print in %s placeholder

In [53]:
a=10
b=["hello",34,"s"]
c=6.7906
print("the value %d %s %2.2f" %(a,b,c))
print("the value is {} {} {}".format(a,b,c))
print(f"the value {a} {b} ")

the value 10 ['hello', 34, 's'] 6.79
the value is 10 ['hello', 34, 's'] 6.7906
the value 10 ['hello', 34, 's']

In [87]:
def name(name,age,city="chennai",*addrees):
    print(f"hello my name is {name} my age{age} my city {city}")
name("sathya",25,"covai","as" ,"er" ,"bn")
name(name="muthu",age=25,city="covai")
name(name="muthu",age=25)

hello my name is sathya my age25 my city covai
hello my name is muthu my age25 my city covai
hello my name is muthu my age25 my city chennai

In [177]:
def name(name,age,city="chennai",*hobbies,**add):
    print(f"hello my name is {name} my age{age} my city {city}")
    print("Hobbies:", ", ".join(hobbies))
    for key,value in add.items():
        print(f"{key}:{value}")
name("sathya",25,"covai","s","d",add="hvuh,kjhjkhk,iohioh")
name("muthu",25,"covai","sd","df",add="dgh")
name(name="muthu",age=27)

hello my name is sathya my age25 my city covai
Hobbies: s, d
add:hvuh,kjhjkhk,iohioh
hello my name is muthu my age25 my city covai
Hobbies: sd, df
add:dgh
hello my name is muthu my age27 my city chennai
Hobbies:

In [190]:
dict={"a":80,"b":90}
dict["a"]=0
print(f"a value {a}")

a value 56

In [1]:
a=int(input())
if(a%2==0):
    print("even")
else:
    print("odd")

even

In [92]:
def describe_person(name, age, *hobbies, **attributes):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print("Hobbies:", ", ".join(hobbies))
    for key, value in attributes.items():
        print(f"{key}: {value}")

# Call the function with a combination of arguments
describe_person("Alice", 30, "Reading", "Traveling", city="New York", profession="Engineer")

Name: Alice
Age: 30
Hobbies: Reading, Traveling
city: New York
profession: Engineer

In [11]:
score=int(input())
if(score==45):
    print("poor")

else:
    print("good")

good

In [3]:
a="apple"
for i in a:
    print(i)

a
p
p
l
e

In [6]:
for i in range(1,11):
    print(i,"x 2 =",i*2)

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [133]:
count=0
for i in range(1,5):
    if(i%2==0):
        count=count+1
        print(count)
print(count)

1
2
2

In [140]:
for i in range(1,9):
    for j in range(1,9):
        print(" #",end="")
    print()

 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #

In [22]:
count=0
for i in range(1,101):
    if(i%3==0 and i%5==0):
        count=count+1
print(count)

6

In [26]:
sum=0
for i in range(1,6):
    sum=sum+i
print(sum)

15

In [33]:
a=[]
for i in range(10):
    num=int(input("enter number"+str(i)))
    a.append(num)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [2]:
a=[]
for i in range(7):
    num=int(input("enter number"+str(i)))
    a.append(num)
    
sum=0
for i in a:
    sum=sum+i
    print(sum)

1
2
3
4
5
6
7

In [73]:

for i in range(1,8):
    print()
    for j in range (1,3):
        print("*",end="")

**
**
**
**
**
**
**

In [78]:
i=1
while(i<5):
    print(i)
    i=i+1

1
2
3
4

In [87]:
def func(a,b):
    add=a+b
    
c1=int(input())
c2=int(input())
reult=func(c1,c2)
print(reult)
print("the sum {}+{}={}".format(c1,c2,reult))

def add(a,b):
    c=a+b
    return c
i=int(input("enter1 :"))
u=int(input("enter2 :"))
result=add(i,u)
print("the result is",result)
print("the sum {}+{}={}".format(i,u,result))

None
the sum 23+23=None
the result is 46
the sum 23+23=46

In [90]:
def findevenorodd():
    if(a%2==0):
        print("even")
    else:
        print("odd")
a=int(input())
findevenorodd()

odd

In [104]:
def average(num1): 
  total=sum(num1)/len(num1)
  return (avg)

num1 =(1,2,3,4,6,7,8)

avg=average(num1)
print(avg)

TypeError: 'int' object is not callable

In [108]:
def find_largest(numbers):
    if not numbers:  # Check if the list is empty
        return None
    largest = numbers[2]
    for number in numbers:
        if number > largest:
            largest = number
    return largest
numbers = [1, 2, 3, 4, 5]
largest = find_largest(numbers)
print("The largest number is:", largest)

The largest number is: 5

In [142]:
for i in range(1,9):
    for j in range(1,i+1):
        print("#",end="")
    print()

#
##
###
####
#####
######
#######
########

In [144]:
a=int(input())
b=int(input())
for i in range(a,b):
    if(i%2==0):
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd

In [153]:
for i in range(1, 101): 
    if(i%2!=0):
         print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [162]:
for i in range(0,100):
    sum=sum+i
print(sum)

24849

In [5]:
name = "John Doe" 
print(name[0])

J

In [23]:
a=["hello,world!"]
print(a)

['hello,world!']

In [24]:
a=int(input("The first line contains the first integer,"))
b=int(input("The first line contains the first integer,"))
c=a//b
d=a/b
print(c)
print(float(d))

0
0.6

In [45]:
n=int(input())
for i in range(n):
    for j in range(i,i*i):
       print(j)

2
3

class program

In [70]:
class Car:
    def info(self,name,colour,brand):
        self.name=name
        self.colour=colour
        self.brand=brand
        print("hello",self.name,self.colour,self.brand)
ob_1=Car()
ob_1.info("ford","red","mustang")
print(ob_1.name,ob_1.colour,ob_1.brand,"welcome")

hello ford red mustang
ford red mustang welcome