star pattern

In [72]:
n=5
for i in range(n):
    for j in range(n):
        print(' *',end="")
    print()

 * * * * *
 * * * * *
 * * * * *
 * * * * *
 * * * * *

increasing triangle pattern

In [71]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' *',end="")
    print()

 *
 * *
 * * *
 * * * *
 * * * * *

decresing triangle pattern

In [70]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' *',end="")
    print()

 * * * * *
 * * * *
 * * *
 * *
 *

right side triangle

In [69]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    print()

     *
    **
   ***
  ****
 *****

left side traingle

In [66]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" *",end="")
    for j in range(i,1):
        print(" ",end="")
    print()

 *
 * *
 * * *
 * * * *
 * * * * *

hill pattern

In [144]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********

reverse hill

In [293]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n-1):
        print("*",end="")
    for j in range(i,n):
        print("*",end="")
    print()

 *********
  *******
   *****
    ***
     *

diamond

In [182]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")

    print()
n=5
for i in range(n):
    for i in range(i+1):
        print(" ",end="")
    for j in range(i,n-1):
        print("*",end="")
    for j in range(i,n):
        print("*",end="")
        
    print()

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

left pascale

In [200]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()
n=5
for i in range(n):
    for j in range(i,n-1):
        print("*",end="")
    print()

*
**
***
****
*****
****
***
**
*

left pascale

In [239]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    print()
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end="")
    print()

     *
    **
   ***
  ****
 *****
  ****
   ***
    **
     *

butterfly

In [273]:
n=5
for i in range(n-1):
    for j in range(i+1):
        print("*",end="")
    for j in range(i,n):
        print(" ",end="")
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    print()
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end="")
    for j in range(i+1):
        print(" ",end="")
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end="")
    print()

*          *
**        **
***      ***
****    ****
*****  *****
****    ****
***      ***
**        **
*          *

sandglass

In [308]:
n=6
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n-1):
        print("*",end="")
    for j in range(i,n):
        print("*",end="")
        
    print()
n=6
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")
        
    print()

 ***********
  *********
   *******
    *****
     ***
      *
      *
     ***
    *****
   *******
  *********
 ***********

double hill

In [310]:
n=7
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")

    print()

*       *
**      **
***     ***
****    ****
*****   *****
******  ******
******* *******

number pattern

In [311]:
n=7
for i in range(n):
    for j in range(i+1):
        print(i+1,end="")
    print()

1
22
333
4444
55555
666666
7777777

alpahpet pattern

In [322]:
n=5
p=0
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print(p,end="")
    p+=1
    print()

     0
    11
   222
  3333
 44444

amstrong numbers

In [52]:
for i in range(101):
   num=i
   result=0
   n=len(str(i))
   while(i!=0):
      digit=i%10
      result=result+digit**n
      i=i//10
   if num==result:
        print(num)

TypeError: 'str' object is not callable

In [62]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(p+i,end="")
    for j in range(i,n):
        print("",end="")
    print()

1
22
333
4444
55555

In [1]:
n=8
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345
123456
1234567
12345678

In [19]:
n=8
for i in range(n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888

In [15]:
n=8
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j ,end="")
    print()

1
12
123
1234
12345
123456
1234567
12345678

In [68]:
n=6
num=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(num,end="  ")
        num=num+1
    print()

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15
16  17  18  19  20  21

In [83]:
string="python"
length=len(string)
for row in range(length):
    for col in range(row+1):
        print(string[col],end="")
    print()

p
py
pyt
pyth
pytho
python

In [84]:
n=8
first=0
second=1
for i in range(n):
    print(first)
    temp=first
    first=second
    second=temp+second

0
1
1
2
3
5
8
13

In [87]:
n=5
for row in range(n,0,-1):
    for col in range(1,row+1):
        print(col,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [90]:
lower=5
upper=15
for num in range(lower,upper+1):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
            else:
                print(num)

5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15

In [92]:
lower=5
upper=15
for num in range(lower,upper+1):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                print(num,"is not prime number")
                break
            else:
                print(num,"is a prime number")
    else:
        print(num,"is not a prime number")

5 is a prime number
5 is a prime number
5 is a prime number
6 is not prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 is not prime number
9 is a prime number
9 is not prime number
10 is not prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
12 is not prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
14 is not prime number
15 is a prime number
15 is not prime number

In [24]:
n=10
for row in range(n):
    for col in range(n):
        if col==0 or row==(n-1) or row==col:
           print("*",end="")
        else:
           print(end=" ")
    print()

*
**
* *
*  *
*   *
*    *
*     *
*      *
*       *
**********

In [144]:
n=8
k=2
for row in range(1,n+1):
    for col in range(1,2*n):
        if  row+col==n+1 or row-col==n-1:
           print("*",end="")
        elif row==n and col!=k:
              print("*",end="")
              k=k+2
        else:
           print(end=" ")
    print()

       *
      *
     *
    *
   *
  *
 *
* * * * * * * *

In [59]:
n=6
for row in range(0,n):
    for col in range(0,n):
        if row==0 or col==(n-1) or col==row:
           print("*",end="")
        else:
           print(end=" ")
    print()

******
 *   *
  *  *
   * *
    **
     *

In [26]:
import math
n=5
result=math.factorial(n)
print("the factorial is",n,"value",result)

the factorial is 5 value 120

In [52]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
    n=3
result=fact(n)
print("the fact",n,"is",result)

the fact 5 is 120

In [57]:
n=4
result=1
for i in range(n,0,-1):
    result=result*i
print("the fact",n,"result",result)

the fact 4 result 24